<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://payslip-generator.surge.sh/scripts/../stylesheets/bundle-scss.css?6234c11481c7fcd0a879" rel="stylesheet">
    <link href="https://payslip-generator.surge.sh/scripts/../stylesheets/bundle-less.css?6234c11481c7fcd0a879" rel="stylesheet">
</head>

<body>
    <div id="root" class="root"></div>
    <script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/bootstrap.71def2becb997e57e90c.bundle.js?6234c11481c7fcd0a879"></script>
    <script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/vendor.d15721a2509679a05e87.bundle.js?6234c11481c7fcd0a879"></script>
    <script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/bundle.b4bc204b2a48b30daead.bundle.js?6234c11481c7fcd0a879"></script>
</body>

</html>