<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://payslip-generator.surge.sh/scripts/../stylesheets/bundle-scss.css?e25d1b826ef16a59b3be" rel="stylesheet">
    <link href="http://payslip-generator.surge.sh/scripts/../stylesheets/bundle-less.css?e25d1b826ef16a59b3be" rel="stylesheet">
</head>

<body>
    <div id="root" class="root"></div>
    <script type="text/javascript" src="http://payslip-generator.surge.sh/scripts/bootstrap.38836030cda1d0241944.bundle.js?e25d1b826ef16a59b3be"></script>
    <script type="text/javascript" src="http://payslip-generator.surge.sh/scripts/vendor.d15721a2509679a05e87.bundle.js?e25d1b826ef16a59b3be"></script>
    <script type="text/javascript" src="http://payslip-generator.surge.sh/scripts/bundle.b4bc204b2a48b30daead.bundle.js?e25d1b826ef16a59b3be"></script>
</body>

</html>