<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://payslip-generator.surge.sh/scripts/../stylesheets/bundle-scss.css?668a2bc543a68e1e67d4" rel="stylesheet"><link href="https://payslip-generator.surge.sh/scripts/../stylesheets/bundle-less.css?668a2bc543a68e1e67d4" rel="stylesheet"></head>

<body>
    <div id="root" class="root"></div>
<script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/bootstrap.796baa382487634680bd.bundle.js?668a2bc543a68e1e67d4"></script><script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/vendor.83fcfa5b817c71b34a27.bundle.js?668a2bc543a68e1e67d4"></script><script type="text/javascript" src="https://payslip-generator.surge.sh/scripts/bundle.9c4c870b6fe90730890f.bundle.js?668a2bc543a68e1e67d4"></script></body>

</html>